		<section class="section__header" style="background-image:url('{{theme.path}}/assets/img/header-image_our-company.jpg')">
			<div class="container">
				<h2 class="header__title">Our Company</h2>
			</div>
		</section>
		<article class="container">
			<h2 class="intro__statement">{{post.content}}</h2>

			<section class="section__about section__about--who-we-are row justify-content-center" id="who-we-are">
				<div class="col-lg-4 col-md-6">
				<img class="lazy about__side-img rounded" data-src="{{theme.path}}/assets/img/who-we-are_woodmont-properties.jpg">
				</div>
				<div class="about__text col-lg-6 col-md-6">
					<h2 class="about__headline">Who We Are</h2>
					<p class="about__paragraph">Woodmont Properties, based in Fairfield, NJ is one of the region’s leading developers of residential and commercial real estate. We're led by a dynamic group of highly-skilled executives and an extraordinary staff of professional team members, all of whom are fully committed to the thorough and effective completion and management of our development and building projects.</p>
					<a class="link__read-more" data-toggle="collapse" href="#collapseWho" aria-expanded="false" aria-controls="collapseExample">Wide-Ranging Success <span class="link__arrow-down">&#9660;</span></a>
					<div class="collapse" id="collapseWho">
						<p class="about__paragraph">Our highly-skilled team possesses an unparalleled combination of experience and expertise. Each team member is personally committed to delivering world-class multifamily, single-family, industrial, office, retail, hospitality and transit-oriented mixed-use properties in suburban communities and town centers. Our wide-ranging success is derived from a unique blend of innovation, integrity, superior locations, and high-quality design.</p>
					</div>
				</div>
			</section>
			<section class="section__about section__about--history row justify-content-center" id="history">
				<div class="col-lg-4 col-md-6" data-target="#modal__video" data-toggle="modal">
					<img class="lazy about__side-img rounded" data-src="{{theme.path}}/assets/img/history-of-woodmont-properties.jpg">
				</div>
				<div class="about__text col-lg-6 col-md-6">
					<h2 class="about__headline">Storied History</h2>
					<p class="about__paragraph">Founded in 1963 by Donald Witmondt, Woodmont Properties has set the standard in real estate development. Woodmont is a second-generation family-owned, real estate development company that has established a track record of success in real estate development by adhering to a tradition of integrity, and placing a high value on long-term relationships.</p>
					<a class="link__read-more" data-toggle="collapse" href="#collapseHistory" aria-expanded="false" aria-controls="collapseExample">Company Growth <span class="link__arrow-down">&#9660;</span></a>
					<div class="collapse" id="collapseHistory">
						<p class="about__paragraph">Under the leadership of our CEO, Eric Witmondt, Woodmont has become one of the leading regional developers with a diverse portfolio of residential and commercial properties. Eric was instrumental in growing the company by expanding the range, scale and locations of development.</p>
					</div>
				</div>
				<div class="modal fade" id="modal__video" tabindex="-1" role="dialog" aria-hidden="true">
					<figure class="modal-dialog staff-member__modal" role="document">
							<span class="staff-member__modal-exit" >
								<button type="button" class="close" aria-label="Close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
							</span>
							<div class="row no-gutters">
								<figcaption class="staff-modal__text">
									<video id="video" style="width:90vmin" controls>
								   <source src="{{theme.path}}/assets/video/50years.mp4" type="video/mp4">
								   Your browser does not support the video tag.
								 </video>
							 </figcaption>
							</div>
					</figure>
				</div>
			</section>
			<section class="section__about section__about--what-we-do row justify-content-center" id="what-we-do">
				<div class="col-lg-4 col-md-6">
				<img class="lazy about__side-img rounded" data-src="{{theme.path}}/assets/img/what-we-do-woodmont-properties.jpg">
				</div>
				<div class="about__text col-lg-6 col-md-6">
					<h2 class="about__headline">What We Do</h2>
					<p class="about__paragraph">As a multi-disciplined and vertically-integrated organization, Woodmont Properties specializes in developing properties by utilizing its skills in development to bring a concept to raw land and see it through to fruition and financial success.</p>
					<p class="about__paragraph">Under Eric Witmondt’s leadership, Woodmont has grown to become one of the region’s most active developers. Woodmont’s team is comprised of specialists in acquisitions, entitlements, engineering, construction, legal, finance, sales, leasing, marketing and property management.</p>

					<a class="link__read-more" data-toggle="collapse" href="#collapseServices" aria-expanded="false" aria-controls="collapseExample">Our Services<span class="link__arrow-down">&#9660;</span></a>

				</div>

				<article class="section__services collapse col-lg-10 col-md-12" id="collapseServices">
					<h2 class="section__subhead">Acquisitions</h2>
					<p class="about__paragraph">Woodmont’s skilled acquisition team is steeped in years of experience in identifying and acquiring properties in superior locations with great potential for value creation.<p>
					<h2 class="section__subhead">Entitlements</h2>
					<p class="about__paragraph">Woodmont’s ability to obtain land use approvals is supported by deep-rooted skills in land planning, engineering, architecture, legal, and a commitment to working with local stakeholders to achieve a successful and mutually beneficial development.</p>
					<h2 class="section__subhead">Financing</h2>
					<p class="about__paragraph">For over 55 years, Woodmont’s stable financial performance and solid financial footing have established Woodmont as a capable buyer, a reliable investment partner, and a creditworthy borrower. Woodmont is strongly skilled in financial analysis and conservative underwriting in carefully selecting its investment opportunities.</p>
					<h2 class="section__subhead">Construction</h2>
					<p class="about__paragraph">Woodmont’s strength is in its thorough and detailed approach to construction management of its own developments. Woodmont’s construction team is led by seasoned senior construction executives and supported by team members in purchasing and all facets of project management. This talented division has enabled Woodmont to simultaneously build multi-projects of various product types from site work through vertical construction.</p>
					<h2 class="section__subhead">Residential Property Management</h2>
					<p class="about__paragraph">Woodmont self-manages its communities, assuring the objectives of its investments are fulfilled, and its residents are treated to a first class living experience. Woodmont’s skilled and experienced property management organization is well-versed in marketing and managing a community from inception through full occupancy.</p>
					<h2 class="section__subhead">Commercial Asset Property Management</h2>
					<p class="about__paragraph" style="margin-bottom:4em">Our asset and property management objective is to properly maintain our investment properties while assuring the highest return on those investments. Woodmont Properties employs a skilled and dedicated team of specialists toensure that we provide the utmost in professional and responsible property management services. The Woodmont Asset Management Team is largely responsible for our ability to maintain long-term tenancies and to assure profitability of investments.</p>
				</article>

			</section>
		</article>
