<div class="container">
	<h3 class="awards__headline" style="margin-top:2em">Award Winning Properties</h3>
	<p class="intro__paragraph">Woodmont Properties is consistently recognized for its creativity in designing best-in-class luxury homes and luxury apartment communities – a testament to the company’s commitment to excellence. In the past two years, Woodmont received 50 awards, including the coveted Smart Growth Award from New Jersey Future for Woodmont Metro at Metuchen Station. For the last seven years, Woodmont has also been honored each year with the “Community of the Year” award from industry associations.</p>

	<div id="newAward" class="carousel carousel--awards slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item" style="background-image:url('{{site.link}}//app/uploads/2017/10/Woodmont-West.jpg')">
					<figure class="slideshow__container">
							<figcaption class="slideshow__text container">
								Woodmont West
								<span class="award-slider__award-name">2017 Community of the Year</span>
								<a class="slideshow__cta-button" href="/awards">View All Awards</a>
							</figcaption>
					</figure>
				</div>
				<div class="carousel-item active" style="background-image:url('{{site.link}}/app/uploads/2017/10/Woodmont-Metro.jpg')">
					<figure class="slideshow__container">
							<figcaption class="slideshow__text container">
								Woodmont Metro
								<span class="award-slider__award-name">2017 Smart Growth Award</span>
								<a class="slideshow__cta-button" href="/awards">View All Awards</a>
							</figcaption>
					</figure>
				</div>
				<div class="carousel-item" style="background-image:url('{{site.link}}/app/uploads/2017/10/Woodmont-Ridge.jpg')">
					<figure class="slideshow__container">
							<figcaption class="slideshow__text container">
								Woodmont Ridge
								<span class="award-slider__award-name">2017 Leasing and Marketing Excellence</span>
								<a class="slideshow__cta-button" href="/awards">View All Awards</a>
							</figcaption>
					</figure>
				</div>
				<div class="carousel-item" style="background-image:url('{{site.link}}/app/uploads/2017/10/Woodmont-Station.jpg')">
					<figure class="slideshow__container">
							<figcaption class="slideshow__text container">
								Woodmont Station
								<span class="award-slider__award-name">2017 Excellence in Property Management</span>
								<a class="slideshow__cta-button" href="/awards">View All Awards</a>
							</figcaption>
					</figure>
				</div>
			</div>
			<a class="carousel-control-prev" data-target="#newAward" role="button" data-slide="prev">
	      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	      <span class="sr-only">Previous</span>
	    </a>
	    <a class="carousel-control-next" data-target="#newAward" role="button" data-slide="next">
	      <span class="carousel-control-next-icon" aria-hidden="true"></span>
	      <span class="sr-only">Next</span>
	    </a>
	</div>

	<img class="awards__badges" src="{{theme.path}}/assets/img/woodmont-award-badges.png">

	<a class="awards__apply-cta" href="./awards">See All Awards</a>



</div>
