<div class="container">
	<h2 class="section__headline">Our Portfolio</h2>
	<ul class="portfolio__type-toggles row" role="group">
			<li class="portfolio__type portfolio__type--dropdown col-lg-3 col-6">
				<span class="portfolio__type-label" id="btnGroupApartments" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="group">Luxury Apartments</span>
				<div class="dropdown-menu" aria-labelledby="btnGroupApartments">
					<a class="dropdown-item" href="">View All</a>
					<a class="dropdown-item" href="#">Now Leasing</a>
					<a class="dropdown-item" href="#">Coming Soon</a>
					<a class="dropdown-item" href="#">Past Accomplishments</a>
				</div>
			</li>
			<li class="portfolio__type col-lg-3 col-6">
				<span class="portfolio__type-label">Luxury Homes</span>
			</li>
			<li class="portfolio__type col-lg-3 col-6">
				<span class="portfolio__type-label">Industrial</span>
			</li>
			<li class="portfolio__type portfolio__type--dropdown col-lg-3 col-6">
				<span class="portfolio__type-label" id="btnGroupOffice" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Office/Retail</span>
				<div class="dropdown-menu" aria-labelledby="btnGroupOffice">
					<a class="dropdown-item" href="">View All</a>
					<a class="dropdown-item" href="#">Now Leasing</a>
					<a class="dropdown-item" href="#">Coming Soon</a>
					<a class="dropdown-item" href="#">Past Accomplishments</a>
				</div>
			</li>
	</ul>
	<section id="portfolio__grid">
		<ul class="portfolio__thumbnails row">
			{% for property in properties %}
			<div class="panel {{property.property_type}} {{property.currnet_status|replace({'.': "", ' ': "", ',': "", '-': ""}) }}">
				<article class="property--selected collapse" id="{{ property.title|replace({'.': "", ' ': "", ',': ""}) }}" role="tabpanel" aria-labelledby="{{ property.title|replace({'.': "", ' ': "", ',': ""}) }}">
					{% if property.award_winner %}
						<a class="property__award-badge" href="./awards">
							<img src="{{theme.path}}/assets/img/icon_award-badge.svg">
						</a>
					{% endif %}
					{% if property.property_photos %}
						<div id="galleryExampleIndicators" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#galleryExampleIndicators" data-slide-to="0" class="active"></li>
								<li data-target="#gallerylExampleIndicators" data-slide-to="1"></li>
								<li data-target="#galleryExampleIndicators" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="carousel-item active">
									 <img class="property__featured-img" src="{{ property.thumbnail }}" width="600">
								</div>
								{% for gallery in property.get_field('property_photos') %}
								<div class="carousel-item">
									 <img class="investment__gallery-image" src="{{ gallery.image }}">
								</div>
								{% endfor %}
							</div>
							<a class="carousel-control-prev" href="#galleryExampleIndicators" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#galleryExampleIndicators" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
						{% else %}
						 <img class="property__featured-img" src="{{ property.thumbnail }}" width="600">
					{% endif %}
					<span class="property__status">{{ property.current_status }}</span>
					<ul class="property__specs">

						<a class="portfolio__next-button"> > </a>
						<a class="portfolio__prev-button"> < </a>

						<li><h3 class="property__name">{{ property.title }}</h3></li>
						<li class="property__address">{% if property.street_address %}{{property.street_address}}, {% endif %}{{ property.city_state }}</li>
						<li class="property__details">{% if property.details %}{{ property.details }}{% endif %}</li>
						<li>
							{% if property.website %}
								<a class="property__website" href="http://{{ property.website }}" target="_blank">Visit Website</a>
							{% endif %}
							{% if property.phone_number %}
								<a class="property__phone" href="tel:{{ property.phone_number }}">{{ property.phone_number }}</a>
							{% endif %}
						</li>
						<li><span class="property__description">{{ property.content }}</span></li>
					</ul>
				</article>
			</div>
			<li class="portfolio__thumbnail thumb col-lg-3 col-md-4 col-6" style="background-image:url({{ property.thumbnail.src }})" data-toggle="collapse" data-target="#{{ property.post_title|replace({'.': "", ' ': "", ',': ""}) }}" aria-expanded="false" aria-controls="collapseExample" data-parent="#portfolio__grid">
				<div class="portfolio-thumbnail__text {{ property.current_status|replace({'.': "", ' ': "", ',': ""}) }}">
					<span class="portfolio-thumbnail__name">{{ property.title }}</span>
					<span class="portfolio-thumbnail__place">{{ property.city_state }}</span>
				</div>
			</li>


			{% endfor %}
		</ul>
	</section>
</div>
