<section class="section__header" style="background-image:url('{{theme.path}}/assets/img/header-image_properties.jpg')" id="properties">
  <div class="container">
    <h2 class="header__title">Properties</h2>
  </div>
</section>
<div class="section__prprty-type prprty-type__intro--apts">
  <figure class="prprty-type__image prprty-type__image--apts" style="background-image: url('{{ theme.path}}/assets/img/woodmont-properties_apts.jpg')"></figure>
  <article class="prprty-type__intro">
    <h3 class="prprty-type__headline">Luxury Apartments</h3>
    <p class="prprty-type__description">Woodmont Properties has been at the forefront of the movement toward lifestyle-oriented luxury apartment communities. Each award-winning rental community is strategically located and carefully constructed with the
      very best amenities and superior architectural details.</p>
    <a class="prprty-type__cta" href="#portfolio">View Properties</a>
  </article>
</div>
<div class="section__prprty-type prprty-type__intro--homes">
  <figure class="prprty-type__image prprty-type__image--homes" style="background-image: url('{{ theme.path}}/assets/img/woodmont-properties_homes.jpg')"></figure>
  <article class="prprty-type__intro">
    <h3 class="prprty-type__headline">Luxury Homes</h3>
    <p class="prprty-type__description">Woodmont Properties has a long history of developing dynamic townhomes, condominiums and customized single-family homes that embody ease and elegance. Featuring sophisticated designs and high-end amenities, a
      Woodmont home is crafted to create a rewarding and unique living experience.</p>
    <a class="prprty-type__cta" href="#portfolio">View Properties</a>
  </article>
</div>
<div class="section__prprty-type prprty-type__intro--commercial">
  <figure class="prprty-type__image prprty-type__image--commercial" style="background-image: url('{{ theme.path}}/assets/img/woodmont-properties_commercial.jpg')"></figure>
  <article class="prprty-type__intro">
    <h3 class="prprty-type__headline">Industrial Properties</h3>
    <p class="prprty-type__description">Woodmont Industrial Partners develops, builds, renovates, markets and manages a growing portfolio of strategically located port/intermodal industrial properties in the Eastern U.S. We acquire value-add and
      core-plus properties, which we reposition through capital improvement and/or redevelopment initiatives.</p>
    <a class="prprty-type__cta" href="#portfolio">View Properties</a>
  </article>
</div>
<div class="section__prprty-type prprty-type__intro--industrial">
  <figure class="prprty-type__image prprty-type__image--industrial" style="background-image: url('{{ theme.path}}/assets/img/woodmont-properties_industrial.jpg')"></figure>
  <article class="prprty-type__intro">
    <h3 class="prprty-type__headline">Office / Retail Properties</h3>
    <p class="prprty-type__description">As part of our comprehensive approach to real estate investment, Woodmont Properties has developed and acquired office, retail and hotel properties throughout the Northeast. Our vertically integrated team of
      professionals possesses a deep understanding of the constantly-evolving office and retail sectors.</p>
    <a class="prprty-type__cta" href="#portfolio">View Properties</a>
  </article>
  </div>
  <div class="section__prprty-type prprty-type__intro--recreation">
    <figure class="prprty-type__image prprty-type__image--commercial" style="background-image: url('{{ theme.path}}/assets/img/woodmont-properties_recreation.jpg')"></figure>
    <article class="prprty-type__intro">
      <h3 class="prprty-type__headline">Hospitality / Recreation</h3>
      <p class="prprty-type__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="prprty-type__cta" href="#portfolio">View Properties</a>
    </article>
  </div>
