<div class="slideshow__borders">
  <div id="newSlide" class="carousel slide" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
      <li data-target="#newSlide" data-slide-to="0" class="active"></li>
      <li data-target="#newSlide" data-slide-to="1"></li>
      <li data-target="#newSlide" data-slide-to="2"></li>
      <li data-target="#newSlide" data-slide-to="3"></li>
      <li data-target="#newSlide" data-slide-to="4"></li>
    </ol>

  		<div class="carousel-inner">
  			<div class="carousel-item active" style="background-image:url('{{theme.link}}/assets/img/homepage-carousel/40park-exterior.jpg)')">
  				<figure class="slideshow__container">
  						<figcaption class="slideshow__text container">
  							Creating Great Places for People to Live, Work, Shop and Play
  						  <a class="slideshow__cta-button" href="#properties">View Property Types</a>
              </figcaption>
  				</figure>
  			</div>
  			<div class="carousel-item" style="background-image:url('{{theme.link}}/assets/img/homepage-carousel/woodmont-west_pool.jpg)')">
  				<figure class="slideshow__container">
  						<figcaption class="slideshow__text container">
                Bringing Innovation and High-Quality Design to Superior Locations
  						  <a class="slideshow__cta-button" href="#portfolio">View Our Portfolio</a>
              </figcaption>
  				</figure>
  			</div>
        <div class="carousel-item" style="background-image:url('{{theme.link}}/assets/img/homepage-carousel/woodmont_office-building.jpg)')">
  				<figure class="slideshow__container">
  						<figcaption class="slideshow__text container">
                Proven Track Record of Success in Real Estate Development
  						  <a class="slideshow__cta-button" href="#whatWeDo">What We Do</a>
              </figcaption>
  				</figure>
  			</div>
        <div class="carousel-item" style="background-image:url('{{theme.link}}/assets/img/homepage-carousel/woodmont-west_lounge2.jpg)')">
  				<figure class="slideshow__container">
  						<figcaption class="slideshow__text container">
                Offering an Unparalleled Combination of Experience, Expertise and Management
  						  <a class="slideshow__cta-button" href="#careers">Careers</a>
              </figcaption>
  				</figure>
  			</div>
        <div class="carousel-item" style="background-image:url('{{theme.link}}/assets/img/homepage-carousel/edgewood-country-club.jpg)')">
  				<figure class="slideshow__container">
  						<figcaption class="slideshow__text container">
                Committed to Delivering Excellence and World-Class Properties
  						  <a class="slideshow__cta-button" href="#leadership">View Leadership</a>
              </figcaption>
  				</figure>
  			</div>
  		</div>

    <a class="carousel-control-prev" data-target="#newSlide" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" data-target="#newSlide" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
