<div class="container" style="padding:30px 0 100px 0;">
	<h2 class="intro__statement">We're led by a dynamic group of highly-skilled executives and an extraordinary staff of professional team members, all of whom are fully committed to the thorough and effective completion and management of our development and building projects.</h2>
	<h2 class="section__headline">Leadership</h2>
	<div class="row no-gutters">
	{% for member in staff  if member.industrial_partner is empty %}
		<div class="staff-thumbnail col-lg-3 col-md-4 col-6" data-toggle="modal" data-target="#{{ member.post_title|replace({'.': "", ' ': "", ',': ""}) }}">
			<figure class="staff-thumbnail__portrait" style="background-image: url({{ member.thumbnail.src }});background-size:cover;">
				<figcaption class="staff-thumbnail__text">
					<h3 class="staff-thumbnail__name">{{ member.title }}</h3>
					<h4 class="staff-thumbnail__jobtitle">{{ member.job_title }}</h4>
				</figcaption>
			</figure>
		</div>
		<!-- Modal -->
		<div class="{{member.job_department}} modal" id="{{ member.post_title|replace({'.': "", ' ': "", ',': ""}) }}" tabindex="-1" role="dialog" aria-hidden="true">
			<figure class="modal-dialog staff-member__modal" role="document">
					<span class="staff-member__modal-exit" >
						<button type="button" class="close" aria-label="Close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
						</button>
					</span>
					<div class="row no-gutters">
						<div class="staff-modal__portrait col-sm-5" style="background-image: url({{ member.thumbnail.src }})">
						</div>
						<figcaption class="staff-modal__text col-sm-7">
							<h3 class="staff-member__name">{{ member.title }}</h3>
							<h4 class="staff-member__job-title">{{ member.job_title }}</h4>
							<ul class="staff-member__contact-info">
								{% if member.phone_number %}
									<li class="staff-member__phone"><a href="tel:{{ member.phone_number|replace({'.': "", ' ': "", '(': "", ')': "",  '-': ""}) }}">{{member.phone_number}}</a> Ext. {{member.phone_extention}}</li>
								{% endif %}
								{% if member.email %}
									<li class="staff-member__email"><a href="mailto:{{member.email}}">{{member.email}}</a></li>
								{% endif %}
							</ul>
							<span class="staff-member__description">{{ member.content }}</span>
						</figcaption>
					</div>
					<span class="carousel-control-prev-icon"></span>
					<span class="carousel-control-next-icon"></span>
			</figure>
		</div>
	{% endfor %}
	</div>
	<h2 class="staff__headline">Woodmont Industrial Partners</h2>
	<div class="row no-gutters">
		{% for member in staff if member.industrial_partner %}
			<div class="staff-thumbnail col-lg-3 col-md-4 col-6" data-toggle="modal" data-target="#{{ member.post_title|replace({'.': "", ' ': "", ',': ""}) }}">
				<figure class="staff-thumbnail__portrait" style="background-image: url({{ member.thumbnail.src }});background-size:cover;">
					<figcaption class="staff-thumbnail__text">
						<h3 class="staff-thumbnail__name">{{ member.title }}</h3>
						<h4 class="staff-thumbnail__jobtitle">{{ member.job_title }}</h4>
					</figcaption>
				</figure>
			</div>
			<!-- Modal -->
			<div class="{{member.job_department}} modal" id="{{ member.post_title|replace({'.': "", ' ': "", ',': ""}) }}" tabindex="-1" role="dialog" aria-hidden="true">
				<figure class="modal-dialog staff-member__modal" role="document">
						<span class="staff-member__modal-exit" >
							<button type="button" class="close" aria-label="Close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span>
							</button>
						</span>
						<div class="row no-gutters">
							<div class="staff-modal__portrait col-sm-5" style="background-image: url({{ member.thumbnail.src }})">
							</div>
							<figcaption class="staff-modal__text col-sm-7">
								<h3 class="staff-member__name">{{ member.title }}</h3>
								<h4 class="staff-member__job-title">{{ member.job_title }}</h4>
								<ul class="staff-member__contact-info">
									{% if member.phone_number %}
										<li class="staff-member__phone"><a href="tel:{{ member.phone_number|replace({'.': "", ' ': "", '(': "", ')': "",  '-': ""}) }}">{{member.phone_number}}</a> Ext. {{member.phone_extention}}</li>
									{% endif %}
									{% if member.email %}
										<li class="staff-member__email"><a href="mailto:{{member.email}}">{{member.email}}</a></li>
									{% endif %}
								</ul>
								<span class="staff-member__description">{{ member.content }}</span>
							</figcaption>
						</div>
						<span class="carousel-control-prev-icon"></span>
						<span class="carousel-control-next-icon"></span>
				</figure>
			</div>
			{% endfor %}
	</div>
</div>
