		<section class="section__header" style="background-image:url('{{theme.path}}/assets/img/header-image_our-company.jpg')">
			<div class="container">
				<h2 class="header__title">Our Company</h2>
			</div>	
		</section>
		<article class="container">
			<h2 class="intro__statement">{{post.content}}</h2>
			
			<section class="section__about section__about--who-we-are row justify-content-center">
				<div class="col-lg-4 col-md-6">
				<img class="about__side-img rounded" src="{{theme.path}}/assets/img/who-we-are_woodmont-properties.jpg">
				</div>
				<div class="about__text col-lg-6 col-md-6">	
					<h2 class="about__headline">Who We Are</h2>
					<p class="about__paragraph">Woodmont Properties, based in Fairfield, NJ is one of the region’s leading developers of residential and commercial real estate. We're led by a dynamic group of highly-skilled executives and an extraordinary staff of professional team members, all of whom are fully committed to the thorough and effective completion and management of our development and building projects.</p>
					<div class="collapse" id="collapseWho">
						<p class="about__paragraph">Our highly-skilled team possesses an unparalleled combination of experience and expertise. Each team member is personally committed to delivering world-class multifamily, single-family, industrial, office, retail, hospitality and transit-oriented mixed-use properties in suburban communities and town centers. Our wide-ranging success is derived from a unique blend of innovation, integrity, superior locations, and high-quality design.</p>
					</div>
					<a class="link__read-more" data-toggle="collapse" href="#collapseWho" aria-expanded="false" aria-controls="collapseExample">Read More <span class="link__arrow-down">&#9660;</span></a>
				</div>
			</section>
			<section class="section__about section__about--history row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<img class="about__side-img rounded" src="{{theme.path}}/assets/img/history-of-woodmont-properties.jpg">
				</div>
				<div class="about__text col-lg-6 col-md-6">		
					<h2 class="about__headline">Storied History</h2>
					<p class="about__paragraph">Founded in 1963 by Donald Witmondt, Woodmont Properties has set the standard in real estate development. Woodmont is a second-generation family-owned, real estate development company that has established a track record of success in real estate development by adhering to a tradition of integrity, and placing a high value on long-term relationships.</p>
					<div class="collapse" id="collapseHistory">
						<p class="about__paragraph">Under the leadership of our CEO, Eric Witmondt, Woodmont has become one of the leading regional developers with a diverse portfolio of residential and commercial properties. Eric was instrumental in growing the company by expanding the range, scale and locations of development.</p>
					</div>
					<a class="link__read-more" data-toggle="collapse" href="#collapseHistory" aria-expanded="false" aria-controls="collapseExample">Read More <span class="link__arrow-down">&#9660;</span></a>
				</div>
			</section>
			<section class="section__about section__about--what-we-do row justify-content-center">
				<div class="col-lg-4 col-md-6">
				<img class="about__side-img rounded" src="{{theme.path}}/assets/img/what-we-do-woodmont-properties.jpg">
				</div>
				<div class="about__text col-lg-6 col-md-6">	
					<h2 class="about__headline">What We Do</h2>
					<p class="about__paragraph">As a multi-disciplined and vertically-integrated organization, Woodmont Properties specializes in developing properties by utilizing its skills in development to bring a concept to raw land and see it through to fruition and financial success.</p>
					<div class="collapse" id="collapseWhatWeDo">
						<p class="about__paragraph">Under Eric Witmondt’s leadership, Woodmont has grown to become one of the region’s most active developers. Woodmont’s team is comprised of specialists in acquisitions, entitlements, engineering, construction, legal, finance, sales, leasing, marketing and property management.</p>
					</div>
					<a class="link__read-more" data-toggle="collapse" href="#collapseWhatWeDo" aria-expanded="false" aria-controls="collapseExample">Read More <span class="link__arrow-down">&#9660;</span></a>
				</div>
			</section>			
		</article>