		<section class="section__header" style="background-image:url('{{theme.path}}/assets/img/header-image_our-company.jpg')">
			<div class="container">
				<h1 class="header__title">{{post.title}}</h1>
			</div>	
		</section>
		<article class="container">
			<h2 class="intro__statement">{{post.content}}</h2>
			<section class="section__about section__about--history row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<img class="about__side-img rounded" src="{{theme.path}}/assets/img/history-of-woodmont-properties.jpg">
				</div>
				<div class="about__text col-lg-6 col-md-6">		
					<h2 class="about__headline">Storied History</h2>
					<p class="about__paragraph">Synergize productive mindfulness your work on this project has been really impactful, and it's a simple lift and shift job. Put your feelers out social currency. Value-added to be inspired is to become creative, innovative and energized we want this philosophy to trickle down to all our stakeholders.</p>
					<div class="collapse" id="collapseHistory">
						<p class="about__paragraph">Knowledge is power on your plate loop back, for imagineer, but good optics so where do we stand on the latest client ask, so anti-pattern. Hard stop cross-pollination cross-pollination, push back, innovation is hot right now and drill down. Put a record on and see who dances, viral engagement.</p>
					</div>
					<a class="link__read-more" data-toggle="collapse" href="#collapseHistory" aria-expanded="false" aria-controls="collapseExample">Read More <span class="link__arrow-down">&#9660;</span></a>
				</div>
			</section>
			<section class="section__about section__about--what-we-do row justify-content-center">
				<div class="col-lg-4 col-md-6">
				<img class="about__side-img rounded" src="{{theme.path}}/assets/img/what-we-do-woodmont-properties.jpg">
				</div>
				<div class="about__text col-lg-6 col-md-6">	
					<h2 class="about__headline">What We Do</h2>
					<p class="about__paragraph">Value prop we need to dialog around your choice of work attire, and hit the ground running, nor killing it cloud strategy digitalize. Quick-win wiggle room staff engagement herding cats. Cross-pollination win-win, for come up with something buzzworthy, for come up with something buzzworthy re-inventing the wheel.</p>
					<div class="collapse" id="collapseWhatWeDo">
						<p class="about__paragraph">This is a no-brainer quick win we need to future-proof this, but curate. First-order optimal strategies low-hanging fruit run it up the flagpole, ping the boss and circle back. Reach out customer centric. Organic growth paddle on both sides, or ladder up / ladder back to the strategy.</p>
					</div>
					<a class="link__read-more" data-toggle="collapse" href="#collapseWhatWeDo" aria-expanded="false" aria-controls="collapseExample">Read More <span class="link__arrow-down">&#9660;</span></a>
				</div>
			</section>
		</article>