{% for property in properties %}
	<article class="property--selected" style="margin-bottom:60px">
		<img class="property__featured-img" src="{{ property.thumbnail }}" width="600">
		<h3 class="property__name">{{ property.title }}</h3>
		<h4 class="property__citystate">{{ property.city_state }}</h4>
		<ul class="property__specs">
			<li class="property__type">{{ property.current_status }} | </li>
			<li class="property__status">{{ property.property_type }} | </li>
			<li class="property__details">{{ property.details }}</li>
		</ul>
		<span class="property__description">{{ property.content }}</span>
		<a class="property__website" href="http://{{ property.website }}">Visit Website</a>
		<a class="property__phone" href="tel:{{ property.phone_number }}">{{ property.phone_number }}</a>
	</article>
{% endfor %}
