<div class="row no-gutters">
{% for member in staff %}
	<div class="col-xl-3 col-md-4 col-6">	
		<figure class="staff-thumbnail" style="background-image: url({{ member.thumbnail.src }});background-size:cover;">
			<img class="staff-thumbnail__portrait" >
			<figcaption class="staff-thumbnail__text">
				<h3 class="staff-thumbnail__name">{{ member.title }}</h3>
				<h4 class="staff-thumbnail__jobtitle">{{ member.job_title }}</h4>
			</figcaption>
		</figure>
	</div>
{% endfor %}	
{% for member in staff %}
	<div class="col-xl-3 col-md-4 col-6">		
		<figure class="staff-thumbnail" style="background-image: url({{ member.thumbnail.src }});background-size:cover;">
			<img class="staff-thumbnail__portrait" >
			<figcaption class="staff-thumbnail__text">
				<h3 class="staff-thumbnail__name">{{ member.title }}</h3>
				<h4 class="staff-thumbnail__jobtitle">{{ member.job_title }}</h4>
			</figcaption>
		</figure>
	</div>
{% endfor %}
{% for member in staff %}
	<div class="col-xl-3 col-md-4 col-6">
		<figure class="staff-thumbnail" style="background-image: url({{ member.thumbnail.src }});background-size:cover;">
			<img class="staff-thumbnail__portrait" >
			<figcaption class="staff-thumbnail__text">
				<h3 class="staff-thumbnail__name">{{ member.title }}</h3>
				<h4 class="staff-thumbnail__jobtitle">{{ member.job_title }}</h4>
			</figcaption>
		</figure>
	</div>	
{% endfor %}
{% for member in staff %}
	<div class="col-xl-3 col-md-4 col-6">
		<figure class="staff-thumbnail" style="background-image: url({{ member.thumbnail.src }});background-size:cover;">
			<img class="staff-thumbnail__portrait" >
			<figcaption class="staff-thumbnail__text">
				<h3 class="staff-thumbnail__name">{{ member.title }}</h3>
				<h4 class="staff-thumbnail__jobtitle">{{ member.job_title }}</h4>
			</figcaption>
		</figure>
	</div>	
{% endfor %}
</div>