{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		{% include "partials/navbar.twig" %}

		<section id="content" role="main">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>
		<section class="section__contact" id="contact">
				{% include "partials/contact.twig" %}
		</section>
		{% block footer %}
			<footer id="footer" class="footer">
				{% include 'partials/footer.twig' %}
			</footer>
			<script src="{{theme.path}}/assets/js/vendors.min.js"></script>
			<script src="{{theme.path}}/assets/js/custom.js"></script><!-- Minified Bootstrap JavaScript files in custom.js -->

		<script>
			$(function(){
				var current_panel = 0
				$("a.portfolio__next-button").click(function(){
					$(".thumb"+current_panel+" .portfolio-thumbnail__text").click()
					if(current_panel < $(".panel").length-1) {
						current_panel +=1
					} else {
						current_panel = 0
					}
				})
			});
		</script>
		{{ function('wp_footer') }}
		{% endblock %}

	</body>
<!-- <script>
$(function(){
	$('li.staff__type-label.principals').click();
});
$('li.staff__type-label').on('click tap', function() {

		$('li.staff__type-label').removeClass('active');
		$(this).addClass('active');
		console.log($('.staff-thumbnail.principals')[1]);
    var currentItem = $(this).attr('class');
    var addVisible = function(name) {
        $('.staff-thumbnail').removeClass('visible');
        $('.staff-thumbnail.' + name).addClass('visible');
    };
    if (currentItem.indexOf('principals') !== -1) {
        addVisible('principals');
    } else if (currentItem.indexOf('executives') !== -1) {
        addVisible('executives');
    } else if (currentItem.indexOf('management') !== -1) {
        addVisible('management');
    } else if (currentItem.indexOf('all') !== -1) {
        $('.staff-thumbnail').addClass('visible');
    } else {
        return false;
    }
});
</script> -->
</html>
