{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		
		{% include "partials/navbar.twig" %}

		<section id="content" role="main">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>
		
		{% block footer %}
			<footer id="footer" class="footer">
				{% include 'partials/footer.twig' %}
			</footer>
			<script src="{{theme.path}}/assets/js/vendors.min.js"></script>
			<script src="{{theme.path}}/assets/js/custom.js"></script><!-- Minified Bootstrap JavaScript files in custom.js -->
	
			{{ function('wp_footer') }}
		{% endblock %}
		{% include "partials/sandbox.twig" %}
	</body>
</html>