{% extends "subpage-base.twig" %}

{% block content %}
	<header class="section__hero" id="parallax-page-header">
		<h1 class="hero__headline container">
		{% if title %}
		{{title}}
		{% else %}
		News &amp; Events
		{% endif %}
		</h1>
	</header>

	<div class="container">
		<div class="category__dropdown">
			<button class="category__dropbtn">Browse by Category
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="category__dropdown-content">
				<a href="/news/category/News/">Woodmont News</a>
				<a href="/news/category/Events/">Woodmont Events</a>
				<a href="/news/category/Industrial/">Woodmont Industrial News</a>
				<a href="/news/">All News &amp; Events</a>
			</div>
		</div>
	</div>

	<div class="news__stories container">
	{% for post in posts %}
		<figure class="news__post">
			{% if post.thumbnail.src %}
				{% if post.external_link %}
					<a href="{{post.external_link}}" target="_blank">
				{% else %}
					<a href="{{post.link}}">
				{% endif %}
				<div class="news__featured-img" style="background-image:url({{post.thumbnail.src}})" /></div>
				{% else %}
				<div class="news__featured-img"/></div>
			{% endif %}
			<figcaption class="news__post-text">
				<p class="news__post-date">{{post.date}}</p>
				<h2 class="news__post-title">
					{% if post.external_link %}
						<a href="{{post.external_link}}" target="_blank">
					{% else %}
						<a href="{{post.link}}">
					{% endif %}
					{{post.title}}</a>
				</h2>
				<span class="news__post-preview">{{post.content(20)}}</span>
				{% if post.external_link %}
					<a class="news__read-more" href="{{post.external_link}}" target="_blank">Published by {{post.publisher}}</a>
				{% else %}
					<a class="news__read-more" href="{{post.link}}">Read More</a>
				{% endif %}
				<a class="news__post-category" href="{{site.link}}/news/category/{{ post.terms('category') | join(', ') }}">
					{{ post.terms('category') | join(', ') }}
				</a>
			</figcaption>
		</figure>
	{% endfor %}

	{% include 'partials/pagination.twig' %}

 </div>

{% endblock %}
