{% extends "base.twig" %}

{% block content %}

	<header class="section__hero" style="background-image:url('{{theme.path}}/assets/img/header-image_properties.jpg')">
	  <h1 class="hero__headline container">Careers</h1>
	</header>
	<section class="section__careers-page">
		<div class="container">
			<span class="row">
			{% for job in careers %}
				<article class="career__post col-md-6">
					<h2 class="career__title">{{ job.title }}</h2>
					<p>{{ job.content }}</p>
					<h3 class="career__subheading">Education / Experience:</h3>
					<p class="">{{ job.experience }}</p>
					<a class="career__apply-cta" href="{{ job.post_title|replace({'.': "",' ': '-',',': ""})|lower}}">Apply Now</a>
				</article>
			{% endfor %}
		</span>
		</div>
	</section>

{% endblock %}
