{% extends "base.twig" %}

{% block content %}

	<section class="section__our-company post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="section__header" style="background-image:url('{{theme.path}}/assets/img/header-image_our-company.jpg')">
			<div class="container">
				<h1 class="header__title">{{post.title}}</h1>
			</div>
		</section>
		<article class="container">
			<p class="intro__paragraph">{{post.content}}</p>
		</article>
	</section>
	<section class="section__contact" id="contact">
			{% include "partials/contact.twig" %}
	</section>

{% endblock %}
