{% extends "subpage-base.twig" %}

{% block content %}

	<header class="section__hero" style="background-image:url('{{theme.path}}/assets/img/header-image_properties.jpg')">
		<h1 class="hero__headline container">Thank You</h1>
	</header>

	<div class="container">
		<span class="row" style="justify-content: space-around;">
			<h2 class="intro__statement">Your message has been successfully sent. Someone from our staff will contact you soon. If you have any urgent questions or concerns, please email us at <a href="mailto:info@woodmontproperties.com" style="color:#084560">info@woodmontproperties.com</a></h2>
		</span>
		<ul class="four-o-four__nav-menu">
			<li class="four-o-four__nav-menu-item"><a href="{{site.link}}">Home</a></li>
			<li class="four-o-four__nav-menu-item"><a href="{{site.link}}/#our-company">Our Company</a></li>
			<li class="four-o-four__nav-menu-item"><a href="{{site.link}}/#properties">Properties</a></li>
			<li class="four-o-four__nav-menu-item"><a href="{{site.link}}/news">News</a></li>
			<li class="four-o-four__nav-menu-item"><a href="{{site.link}}/awards">Awards</a></li>
			<li class="four-o-four__nav-menu-item"><a href="{{site.link}}/careers">Careers</a></li>
		</ul>
	</div>
	
{% endblock %}
